body {
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: rgb(4, 4, 53);
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    background-image: url(/cloud.jpeg);
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  td {
    text-align: left;
    padding: 30px;
  }

  table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .myDiv {
    border: 5px outset darkblue;
    background-color: lightblue; 
    width: 96%;
  }


  nav {
    display: flex;
    width: 84%;
    margin: center;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 61px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: blue;
}

.image {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}